*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

ul{
  margin-bottom: 0;
  list-style: none;
}

a:hover{
  text-decoration: none;
}

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}

#header-min-1050{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(3,27,78,.1);
}

.nav-top{
  height: 40px;
  padding: 0 30px;
  border-bottom: 1px solid #e5e8ed;
  position: relative;
}

#a-header-top{
  font-weight: 600;
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#a-header-top p:hover{
  text-decoration: none;
  color: #0069ff;
}

#a-header-top span{
  display: inline-block;
  font-size: 9px;
  background-color: #00d7d2;
  border-radius: 5px;
  color: #031b4e;
  padding: 4px 8px;
  text-transform: uppercase;
  margin-right: 8px;
}

#a-header-top p{
  font-size: 12px;
  color: #5b6987;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.menu-right{
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-right li{
  display: inline-block;
  margin-left: 24px;
}

.menu-right a{
  font-size: 12px;
  color: #5b6987;
  font-weight: 600;
}

.menu-right a:hover{
  text-decoration: none;
}

.nav-bottom{
  height: 65px;
  padding: 0 30px;
  position: relative;
}

#a-header-logo{
  margin-top: 18px;
  display: inline-block;
}

.nav-bottom img{
  height: 29px;
}

.menu-bottom{
  position: absolute;
  left: 240px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-bottom li{
  display: inline-block;
  margin-left: 24px;
}

.menu-bottom a{
  color: rgb(3, 27, 78);
  font-size: 14px;
  font-weight: 600;
}

.menu-bottom a:hover{
  color: #0069ff;
}

.fa-angle-down{
  font-size: 16px;
  vertical-align: bottom;
}

.sign-up{
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #0069ff;
  border-color: #0069ff;
  font-weight: bold;
}

.sign-up:hover{
  color: white;
  background-color: #0069ff;
}

#header-max-1049{
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.nav-menu2{
  height: 90px;
  position: relative;
}

#a-header-2-logo{
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

#a-header-2-logo img{
  height: 29px;
}

#a-header-2-logo p{
  color: white;
  font-size: 22.3px;
  font-weight: 700;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.fa-bars{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
}

.welcome{
  background-color: #0248ff;
  padding-top: 90px;
  padding-bottom: 64px;
}

.padding-welcome{
  padding-top: 80px;
}

.my-container{
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
}

.my-container-small{
  max-width: 900px;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
}

.welcome h1{
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.welcome p{
  margin: 16px 0 32px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.signup-box{
  width: 84%;
  background-color: #fff;
  border: 1px solid rgba(3,27,78,.1);
  border-radius: 5px;
  padding: 32px;
  float: right;
}

.signup-box input{
  margin-top: 16px;
}

.signup-box h2{
  text-align: center;
  font-size: 30px;
  color: rgb(3, 27, 78);
  font-weight: bold;
  margin-bottom: 32px;
}

.compila{
  padding: 10px 16px;
  height: auto;
  font-size: 16px;
  color: rgb(3, 27, 78);
  border: 1px solid #f1f1f1;
  box-shadow: none;
}

.compila::-webkit-input-placeholder {
  color: rgb(3, 27, 78);
}
.compila::-moz-input-placeholder {
  color: rgb(3, 27, 78);
}
.compila::-ms-input-placeholder {
  color: rgb(3, 27, 78);
}

.button-send{
  width: 100%;
  background-color: #0069ff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.button-send:hover{
  background-color: #1633ff;
  color: white;
}

.signup-line{
  margin-top: 16px;
  position: relative;
}

.line-left{
  background-color: #e5e8ed;
  height: 1px;
  width: 20%;
  display: inline-block;
  float: left;
  margin-top: 11px;
}

.line-right{
  background-color: #e5e8ed;
  height: 1px;
  width: 20%;
  display: inline-block;
  float: left;
  margin-top: 11px;
}

.centro{
  width: 60%;
  float: left;
  text-align: center;
}

.signup-line span{
  display: inline-block;
  color: #5b6987;
  font-size: 16px;
}

.signup-box small{
  display: block;
  text-align: center;
  margin-top: 16px;
}

.signup-box a{
  color: #005fe6;
  text-decoration: underline;
}

.button-right{
  float: right;
}

.button-google-github img{
  width: 18px;
  height: 18px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.signup-box button{
  margin-top: 16px;
  padding: 10px 37px;
  color: rgb(3, 27, 78);
  background-color: #f2f8ff;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid rgba(0,105,255,.2);
  width: 45%;
  position: relative;
}

.signup-box button:hover{
  background-color: #d5e4f7;
}

.customers{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #f3f5f9;
}

.customers h2{
  margin-top: 0;
  color: #031b4e;
  opacity: 0.4;
  font-size: 18px;
  font-weight: 600;
}

.customers ul{
  margin-top: 16px;
  margin-bottom: 16px;
}

.customers img{
  max-width: 100%;
  height: 130px;
  object-fit: contain;
}

.customers a{
  color: rgb(0, 105, 255);
  font-size: 16px;
  font-weight: 600;
}

.deploy{
  padding-top: 120px;
  padding-bottom: 64px;
}

.deploy-top h2{
  margin-top: 0;
  color: rgb(3, 27, 78);
  font-size: 36px;
  font-weight: 700;
}

.deploy-top p{
  margin-top: 16px;
  margin-bottom: 64px;
  color: rgba(3, 27, 78, 0.7);
  font-size: 20px;
}

.nav-verticale li{
  border-left: 2px solid #e5e8ed;
  display: block;
  padding: 17px 10px 17px 30px;
}

.nav-verticale a{
  color: rgba(3,27,78,.5);
  font-size: 16px;
  font-weight: 600;
}

.nav-verticale a:hover{
  color: #031b4e;
}

.nav-verticale li:first-child{
  border-left: 2px solid #0069ff;
}

.nav-verticale li:first-child a{
  color: #031b4e;
}

.deploy-bottom h3{
  color: rgb(3, 27, 78);
  font-size: 18px;
  font-weight: 600;
}

.deploy-bottom p{
  color: rgba(3, 27, 78, 0.7);
  font-size: 16px;
}

.fa-life-ring, .fa-microchip, .fa-folder, .fa-globe{
  color: #0069ff;
  font-size: 30px;
}

.margine-bottom-32{
  margin-bottom: 32px;
}

@media screen and (min-width: 500px) {
  .line-left{
    width: 30%;
  }

  .line-right{
    width: 30%;
  }

  .centro{
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .welcome{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-repeat: no-repeat;
    min-height: 800px;
    background-position: center;
  }

  .padding-col-left{
    padding-top: 107px;
  }

  .line-left{
    width: 22%;
  }

  .line-right{
    width: 22%;
  }

  .centro{
    width: 56%;
  }
}

@media screen and (min-width: 875px){
  .welcome h1{
    font-size: 46px;
  }

  .line-left{
    width: 26%;
  }

  .line-right{
    width: 26%;
  }

  .centro{
    width: 48%;
  }
}

@media screen and (min-width: 1000px){
  .welcome h1{
    font-size: 54px;
  }
}

@media screen and (min-width: 1200px){
  .welcome h1{
    font-size: 62px;
  }

  .line-left{
    width: 30%;
  }

  .line-right{
    width: 30%;
  }

  .centro{
    width: 40%;
  }
}

@media screen and (min-width: 1050px) {
  #header-max-1049{
    display: none;
  }

  .welcome{
    margin-top: 40px;
  }
}

@media screen and (max-width: 1049.9px) {
  #header-min-1050{
    display: none;
  }

}

@media screen and (max-width: 767.9px) {
  .signup-box{
    width: 100%;
  }
}

@media screen and (max-width: 479.9px) {
  .my-col-small{
    width: 100%;
  }

}
